# Auto detect text files and perform LF normalization
* text=auto
*.vhd linguist-detectable=true
*.py* linguist-detectable=false
*.pyc linguist-detectable=false
*.pyo linguist-detectable=false
*.pyd linguist-detectable=false
*.tcl linguist-detectable=false
*.sh linguist-detectable=false
*.asm linguist-detectable=false
*.asm* linguist-detectable=false
